.Memo-Editor {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  justify-content: center; /* 수직 방향으로 중앙 정렬 */
  align-items: center; /* 가로 방향으로 중앙 정렬 */
  gap: 10px; /* 요소 간 간격 */
  min-height: 80vh;
  padding: 20px 20px 0;
  box-sizing: border-box
}

.Memo-Editor > input,
.Memo-Editor > textarea {
  width: 90%; /* 너비 조정 */
  max-width: 600px; /* 최대 너비 제한 */
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-top: 0;
}

.Memo-Editor > input {
  height: 40px; /* 인풋 높이 */
  border-bottom: 2px solid #ccc; /* 밑줄 */
  font-size: 18px; /* 텍스트 크기 조정 */
}

.Memo-Editor > textarea {
  height: 100%; /* 텍스트에어 높이 */
  resize: none; /* 크기 조정 비활성화 */
  font-size: 13px; /* 텍스트 크기 조정 */
}

.save-button, .del-button {
  width: 80%;
  max-width: 80px; /* 버튼의 최대 너비 제한 */
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 370px;
  align-self: flex-end;
}

.save-button:hover {
  background-color: #0056b3; /* 버튼 hover 효과 */
}

@media screen and (max-width: 945px) {
  .Memo-Editor {
    padding: 20px; /* 내부 여백 추가 */
    gap: 15px; /* 간격 조정 */
  }

  .Memo-Editor > input,
  .Memo-Editor > textarea {
    width: 100%; /* 너비를 화면에 맞게 확장 */
    max-width: none; /* 최대 너비 제한 해제 */
  }

  .save-button {
    width: 100%; /* 버튼도 화면 너비에 맞게 조정 */
  }
}