.Sidebar {
  flex: 1; 
  background-color: rgba(255, 255, 255, 0.31);
  flex-basis: 50px;
  border-right: 1px solid white;
  padding : 26px;
  overflow: auto;
  flex-shrink: 0;
  height: auto; 
  @media screen and (max-width: 945px) {
    display: none; !important
  }
}