.custom-toolbar {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  gap: 10px; /* 상단과 하단 간격 */
  padding: 20px 20px 10px;
  border-radius: 8px;
}

/* 상단의 "월"과 "주" 버튼 */
.view-button {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  gap: 10px;
}

.custom-toolbar-view-button {
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.custom-toolbar-view-button:hover {
  background-color: #ffbf00;
}

/* 하단 네비게이션 버튼과 라벨 */
.view-toolbar {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center;
  gap: 20px; /* 버튼과 라벨 간 간격 */
}

.custom-toolbar-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.custom-toolbar-button:hover {
  background-color: #0056b3;
}

.custom-toolbar-label {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
