.Todo-sidebar {
  position : fixed;
  top : 0;
  left : -250px;
  width : 250px;
  height : 100%;
  background-color: #f0f0f0;
  transition: left 0.3s ease;
  z-index : 1000;
}

.Todo-sidebar .show {
  left : 0;
}

.Todo-Sidebar-Content {
  height : 100%;
  padding : 20px;
}

.Todo-Sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-btn {
  background-color: red;
  border: none;
  cursor: pointer;
  color : white;
  border-radius: 10px;
}