.Todo-sidebar {
  position: fixed;
  top: 49px;
  left: -300px; /* 숨김 상태에서 화면 밖으로 이동 */
  width: 300px;
  height: calc(100% - 40px);
  background-color: rgba(255, 255, 255, 0.85);
  transition: left 0.3s ease; /* 애니메이션 효과 */
  z-index: 1000;
}

.Todo-sidebar.show {
  left: 0; /* 보이는 상태에서 화면 안으로 이동 */
}

.Todo-Sidebar-Content {
  height: 100%;
  padding: 20px;
}

.Todo-Sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-btn {
  background-color: rgb(53, 142, 221);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  width: 40px;
  height: 25px;
}

.event-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-list li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.event-list li strong {
  font-size: 20px; /* 타이틀의 폰트 크기 설정 */
  color: #333; /* 타이틀 색상 */
}

.event-list li p {
  margin-top: 5px; /* 타이틀과 내용 간격 */
  font-size: 14px; /* 내용 폰트 크기 */
  color: #666; /* 내용 색상 */
}